Thumbs.db
Debug/*.map
Release/*.map
www/Content/met/compass/css*/
www/Content/met/less/*.css
*.obj
*.exe
*.pdb
*.zip
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.fakes.dll
*.fakes.messages
*.fakes.xml
*.fakes.xml
Debug/*.fakes.fakesconfig
Release/*.fakes.fakesconfig
archive*/
[Oo]bj/
[Bb]in
#[Dd]ebug*/
#[Rr]elease*/
*.sbr
_ReSharper*/
packages/*
.sass-cache/
!NuGet.exe
[Tt]est[Rr]esult*
*_csx/
*.csx
csx/
*.cspkg
*.msi
.dbshell
_UpgradeReport_Files/*
UpgradeLog*.htm
UpgradeLog*.XML
desktop.ini
www/Scripts/typings/angularjs/*.js
www/Scripts/typings/angularjs/*.js.map
www/Scripts/typings/d3/*.js
www/Scripts/typings/d3/*.js.map
www/Scripts/typings/jquery/*.js
www/Scripts/typings/jquery/*.js.map
