<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<sectionGroup name="webMarkupMin">
			<section name="core" type="WebMarkupMin.Core.Configuration.CoreConfiguration, WebMarkupMin.Core" />
		</sectionGroup>
	</configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <webMarkupMin xmlns="http://tempuri.org/WebMarkupMin.Configuration.xsd">
		<core>
			<css>
				<minifiers>
					<add name="NullCssMinifier" displayName="Null CSS Minifier" type="WebMarkupMin.Core.Minifiers.NullCssMinifier, WebMarkupMin.Core" />
					<add name="KristensenCssMinifier" displayName="Mads Kristensen's CSS minifier" type="WebMarkupMin.Core.Minifiers.KristensenCssMinifier, WebMarkupMin.Core" />
				</minifiers>
			</css>
			<js>
				<minifiers>
					<add name="NullJsMinifier" displayName="Null JS Minifier" type="WebMarkupMin.Core.Minifiers.NullJsMinifier, WebMarkupMin.Core" />
					<add name="CrockfordJsMinifier" displayName="Douglas Crockford's JS Minifier" type="WebMarkupMin.Core.Minifiers.CrockfordJsMinifier, WebMarkupMin.Core" />
				</minifiers>
			</js>
			<logging>
				<loggers>
				  <add name="NullLogger" displayName="Null Logger" type="WebMarkupMin.Core.Loggers.NullLogger, WebMarkupMin.Core" />
				  <add name="ThrowExceptionLogger" displayName="Throw exception logger" type="WebMarkupMin.Core.Loggers.ThrowExceptionLogger, WebMarkupMin.Core" />
				</loggers>
			</logging>
		</core>
    <html whitespaceMinificationMode="Medium"
          removeHtmlComments="true"
          removeHtmlCommentsFromScriptsAndStyles="true"
          removeCdataSectionsFromScriptsAndStyles="true"
          useShortDoctype="true"
          useMetaCharsetTag="true"
          emptyTagRenderMode="Slash"
          removeOptionalEndTags="false"
          removeTagsWithoutContent="false"
          collapseBooleanAttributes="true"
          removeEmptyAttributes="false"
          attributeQuotesRemovalMode="KeepQuotes"
          removeRedundantAttributes="true"
          removeJsTypeAttributes="true"
          removeCssTypeAttributes="true"
          removeHttpProtocolFromAttributes="false"
          removeHttpsProtocolFromAttributes="false"
          removeJsProtocolFromAttributes="true"
          minifyEmbeddedCssCode="true"
          minifyInlineCssCode="true"
          minifyEmbeddedJsCode="true"
          minifyInlineJsCode="true" />
  </webMarkupMin>
</configuration>